{
  "openapi": "3.0.0",
  "info": {
    "title": "Dina api",
    "contact": {
      "email": "oberg.anton@gmail.com"
    },
    "license": {
      "name": "GNU Affero General Public License",
      "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"
    },
    "version": "0.1.0",
    "description": "This is a first draft of dina api documentation.\nDescriptions like below can be written in markdown:\n\n* [Dina web](https://alpha-cm.dina-web.net/login)\n* [Dina web with mocks](https://alpha-cm-mock.dina-web.net/login)\n* [Dina style guilde](https://alpha-style.dina-web.net)\n",
    "x-versionInfo": "# This is some version specific information\n"
  },
  "servers": [
    {
      "description": "Alpha api server",
      "url": "https://alpha-api.dina-web.net"
    },
    {
      "description": "Auth server",
      "url": "https://alpha-keycloak.dina-web.net"
    },
    {
      "description": "Local api server",
      "url": "http://127.0.0.1:4444"
    },
    {
      "description": "Slim taxonomy",
      "url": "https://alpha-slimtaxonomy.dina-web.net"
    }
  ],
  "tags": [
    {
      "description": "## Service managing agents.\n",
      "name": "agentService"
    },
    {
      "description": "Auth api\n",
      "name": "authService"
    },
    {
      "description": "Api managing curated lists.\n",
      "name": "curatedListService"
    },
    {
      "description": "Service managing exports.\n",
      "name": "exportService"
    },
    {
      "description": "Service managing logs.\n",
      "name": "historyService"
    },
    {
      "description": "Identifier Service\n",
      "name": "identifierService"
    },
    {
      "description": "Service managing jobs.\n",
      "name": "jobService"
    },
    {
      "description": "Locality Service\n",
      "name": "placeService"
    },
    {
      "description": "search",
      "name": "searchService"
    },
    {
      "description": "Specimens api\n",
      "name": "specimenService"
    },
    {
      "name": "statusService"
    },
    {
      "description": "Service managing storage\n",
      "name": "storageService"
    },
    {
      "description": "Mock taxon api\n",
      "name": "taxonomyService"
    }
  ],
  "paths": {
    "/api/agent/v01/normalizedAgents": {
      "post": {
        "operationId": "normalizedAgentCreate",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/normalizedAgentCreateRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentCreateResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentCreate-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentCreate-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create normalizedAgent",
        "tags": [
          "agentService"
        ]
      },
      "get": {
        "operationId": "normalizedAgentGetMany",
        "parameters": [
          {
            "in": "query",
            "name": "relationships",
            "description": "Relationships to add to the response. Add 0 or many",
            "schema": {
              "items": {
                "enum": [
                  "all",
                  "user"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "includeDeactivated",
            "description": "Will include deactivated items",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "filter[id]",
            "description": "Filter by id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[ids]",
            "description": "Filter by ids",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "filter[updatedAfter]",
            "description": "Filter by updatedAt after specificed timestamp",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[parentId]",
            "description": "Filter by parentId, example 123",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[group]",
            "description": "Filter by group",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[name]",
            "description": "Filter by name match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[fullNameSearch]",
            "description": "Search fullName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[matchAgentType]",
            "description": "Match for agentType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by one or more of available fields",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "relevance"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentGetManyResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentGetMany-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentGetMany-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find normalizedAgents",
        "tags": [
          "agentService"
        ]
      }
    },
    "/api/agent/v01/normalizedAgents/{id}": {
      "get": {
        "operationId": "normalizedAgentGetOne",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "normalizedAgent id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "relationships",
            "description": "Relationships to add to the response. Add 0 or many",
            "schema": {
              "items": {
                "enum": [
                  "all",
                  "user"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "includeDeactivated",
            "description": "Will include deactivated items",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "filter[updatedAfter]",
            "description": "Filter by updatedAt after specificed timestamp",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentGetOneResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentGetOne-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentGetOne-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentGetOne-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find normalizedAgent by id",
        "tags": [
          "agentService"
        ]
      },
      "patch": {
        "operationId": "normalizedAgentUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "normalizedAgent id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/normalizedAgentUpdateRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentUpdateResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentUpdate-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentUpdate-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentUpdate-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates normalizedAgent",
        "tags": [
          "agentService"
        ]
      },
      "delete": {
        "operationId": "normalizedAgentDel",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "normalizedAgent id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentDelResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentDel-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "403": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentDel-403"
                }
              }
            },
            "description": "Error: 403"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentDel-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentDel-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Deletes normalizedAgent",
        "tags": [
          "agentService"
        ]
      }
    },
    "/api/agent/v01/normalizedAgents/actions/query": {
      "post": {
        "operationId": "normalizedAgentQuery",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/normalizedAgentQueryRequest"
              }
            }
          },
          "description": "\n  \n**Available filter functions:**\n***\n<br/>\n\n ***id*** <br/> Filter by id <br/> <br/>  ***ids*** <br/> Filter by ids <br/> <br/>  ***updatedAfter*** <br/> Filter by updatedAt after specificed timestamp <br/> <br/>  ***parentId*** <br/> Filter by parentId, example 123 <br/> <br/>  ***group*** <br/> Filter by group <br/> <br/>  ***name*** <br/> Filter by name match <br/> <br/>  ***fullNameSearch*** <br/> Search fullName <br/> <br/>  ***matchAgentType*** <br/> Match for agentType <br/>\n\n  \n  <br/>\n\n  "
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentQueryResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentQuery-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentQuery-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Query normalizedAgent",
        "tags": [
          "agentService"
        ]
      }
    },
    "/api/agent/v01/normalizedAgents/actions/importDataFromFile": {
      "post": {
        "operationId": "normalizedAgentImportDataFromFile",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentImportDataFromFileResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "403": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentImportDataFromFile-403"
                }
              }
            },
            "description": "Error: 403"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentImportDataFromFile-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Rebuild view for resource normalizedAgent",
        "tags": [
          "agentService"
        ]
      }
    },
    "/api/agent/v01/normalizedAgents/{id}/relationships/user": {
      "get": {
        "operationId": "normalizedAgentGetRelationshipUser",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "normalizedAgent id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentGetRelationshipUserResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentGetRelationshipUser-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentGetRelationshipUser-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentGetRelationshipUser-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find normalizedAgent -> user",
        "tags": [
          "agentService"
        ]
      },
      "patch": {
        "operationId": "normalizedAgentUpdateRelationshipUser",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "normalizedAgent id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/normalizedAgentUpdateRelationshipUserRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentUpdateRelationshipUserResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentUpdateRelationshipUser-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentUpdateRelationshipUser-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/normalizedAgentUpdateRelationshipUser-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update normalizedAgent -> user",
        "tags": [
          "agentService"
        ]
      }
    },
    "/auth/realms/dina/protocol/openid-connect/token": {
      "post": {
        "operationId": "loginUser",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/loginUserRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/loginUserResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Gets user token",
        "tags": [
          "authService"
        ]
      }
    },
    "/api/auth/v01/users/{id}": {
      "get": {
        "operationId": "userGetOne",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "user id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "includeDeactivated",
            "description": "Will include deactivated items",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "filter[updatedAfter]",
            "description": "Filter by updatedAt after specificed timestamp",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/userGetOneResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/userGetOne-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/userGetOne-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/userGetOne-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find user by id",
        "tags": [
          "authService"
        ]
      }
    },
    "/api/auth/v01/users": {
      "get": {
        "operationId": "userGetMany",
        "parameters": [
          {
            "in": "query",
            "name": "includeDeactivated",
            "description": "Will include deactivated items",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "filter[ids]",
            "description": "Filter by ids",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "filter[updatedAfter]",
            "description": "Filter by updatedAt after specificed timestamp",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by one or more of available fields",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "relevance"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/userGetManyResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/userGetMany-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/userGetMany-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find users",
        "tags": [
          "authService"
        ]
      }
    },
    "/auth/realms/dina/protocol/openid-connect/userInfo": {
      "get": {
        "operationId": "userInfoGetOne",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/userInfoGetOneResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Gets userInfo object",
        "tags": [
          "authService"
        ]
      }
    },
    "/api/curatedList/v01/causeOfDeathTypes": {
      "post": {
        "operationId": "causeOfDeathTypeCreate",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/causeOfDeathTypeCreateRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeCreateResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeCreate-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeCreate-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create causeOfDeathType",
        "tags": [
          "curatedListService"
        ]
      },
      "get": {
        "operationId": "causeOfDeathTypeGetMany",
        "parameters": [
          {
            "in": "query",
            "name": "includeDeactivated",
            "description": "Will include deactivated items",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "filter[ids]",
            "description": "Filter by ids",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "filter[updatedAfter]",
            "description": "Filter by updatedAt after specificed timestamp",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by one or more of available fields",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "relevance"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeGetManyResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeGetMany-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeGetMany-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find causeOfDeathTypes",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/causeOfDeathTypes/{id}": {
      "get": {
        "operationId": "causeOfDeathTypeGetOne",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "causeOfDeathType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "includeDeactivated",
            "description": "Will include deactivated items",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "filter[updatedAfter]",
            "description": "Filter by updatedAt after specificed timestamp",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeGetOneResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeGetOne-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeGetOne-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeGetOne-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find causeOfDeathType by id",
        "tags": [
          "curatedListService"
        ]
      },
      "patch": {
        "operationId": "causeOfDeathTypeUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "causeOfDeathType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/causeOfDeathTypeUpdateRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeUpdateResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeUpdate-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeUpdate-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeUpdate-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates causeOfDeathType",
        "tags": [
          "curatedListService"
        ]
      },
      "delete": {
        "operationId": "causeOfDeathTypeDel",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "causeOfDeathType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeDelResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeDel-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "403": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeDel-403"
                }
              }
            },
            "description": "Error: 403"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeDel-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeDel-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Deletes causeOfDeathType",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/causeOfDeathTypes/actions/importDataFromFile": {
      "post": {
        "operationId": "causeOfDeathTypeImportDataFromFile",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeImportDataFromFileResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "403": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeImportDataFromFile-403"
                }
              }
            },
            "description": "Error: 403"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/causeOfDeathTypeImportDataFromFile-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Rebuild view for resource causeOfDeathType",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/customTaxonNameTypes": {
      "post": {
        "operationId": "customTaxonNameTypeCreate",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/customTaxonNameTypeCreateRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeCreateResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeCreate-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeCreate-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create customTaxonNameType",
        "tags": [
          "curatedListService"
        ]
      },
      "get": {
        "operationId": "customTaxonNameTypeGetMany",
        "parameters": [
          {
            "in": "query",
            "name": "includeDeactivated",
            "description": "Will include deactivated items",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "filter[ids]",
            "description": "Filter by ids",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "filter[updatedAfter]",
            "description": "Filter by updatedAt after specificed timestamp",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by one or more of available fields",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "relevance"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeGetManyResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeGetMany-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeGetMany-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find customTaxonNameTypes",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/customTaxonNameTypes/{id}": {
      "get": {
        "operationId": "customTaxonNameTypeGetOne",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "customTaxonNameType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "includeDeactivated",
            "description": "Will include deactivated items",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "filter[updatedAfter]",
            "description": "Filter by updatedAt after specificed timestamp",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeGetOneResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeGetOne-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeGetOne-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeGetOne-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find customTaxonNameType by id",
        "tags": [
          "curatedListService"
        ]
      },
      "patch": {
        "operationId": "customTaxonNameTypeUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "customTaxonNameType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/customTaxonNameTypeUpdateRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeUpdateResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeUpdate-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeUpdate-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeUpdate-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates customTaxonNameType",
        "tags": [
          "curatedListService"
        ]
      },
      "delete": {
        "operationId": "customTaxonNameTypeDel",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "customTaxonNameType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeDelResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeDel-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "403": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeDel-403"
                }
              }
            },
            "description": "Error: 403"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeDel-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeDel-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Deletes customTaxonNameType",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/customTaxonNameTypes/actions/importDataFromFile": {
      "post": {
        "operationId": "customTaxonNameTypeImportDataFromFile",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeImportDataFromFileResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "403": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeImportDataFromFile-403"
                }
              }
            },
            "description": "Error: 403"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/customTaxonNameTypeImportDataFromFile-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Rebuild view for resource customTaxonNameType",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/establishmentMeansTypes": {
      "post": {
        "operationId": "establishmentMeansTypeCreate",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/establishmentMeansTypeCreateRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeCreateResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeCreate-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeCreate-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create establishmentMeansType",
        "tags": [
          "curatedListService"
        ]
      },
      "get": {
        "operationId": "establishmentMeansTypeGetMany",
        "parameters": [
          {
            "in": "query",
            "name": "includeDeactivated",
            "description": "Will include deactivated items",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "filter[ids]",
            "description": "Filter by ids",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "filter[updatedAfter]",
            "description": "Filter by updatedAt after specificed timestamp",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by one or more of available fields",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "relevance"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeGetManyResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeGetMany-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeGetMany-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find establishmentMeansTypes",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/establishmentMeansTypes/{id}": {
      "get": {
        "operationId": "establishmentMeansTypeGetOne",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "establishmentMeansType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "includeDeactivated",
            "description": "Will include deactivated items",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "filter[updatedAfter]",
            "description": "Filter by updatedAt after specificed timestamp",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeGetOneResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeGetOne-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeGetOne-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeGetOne-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find establishmentMeansType by id",
        "tags": [
          "curatedListService"
        ]
      },
      "patch": {
        "operationId": "establishmentMeansTypeUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "establishmentMeansType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/establishmentMeansTypeUpdateRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeUpdateResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeUpdate-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeUpdate-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeUpdate-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates establishmentMeansType",
        "tags": [
          "curatedListService"
        ]
      },
      "delete": {
        "operationId": "establishmentMeansTypeDel",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "establishmentMeansType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeDelResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeDel-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "403": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeDel-403"
                }
              }
            },
            "description": "Error: 403"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeDel-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeDel-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Deletes establishmentMeansType",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/establishmentMeansTypes/actions/importDataFromFile": {
      "post": {
        "operationId": "establishmentMeansTypeImportDataFromFile",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeImportDataFromFileResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "403": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeImportDataFromFile-403"
                }
              }
            },
            "description": "Error: 403"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/establishmentMeansTypeImportDataFromFile-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Rebuild view for resource establishmentMeansType",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/featureTypes": {
      "post": {
        "operationId": "featureTypeCreate",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/featureTypeCreateRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeCreateResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeCreate-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeCreate-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create featureType",
        "tags": [
          "curatedListService"
        ]
      },
      "get": {
        "operationId": "featureTypeGetMany",
        "parameters": [
          {
            "in": "query",
            "name": "includeDeactivated",
            "description": "Will include deactivated items",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "filter[ids]",
            "description": "Filter by ids",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "filter[updatedAfter]",
            "description": "Filter by updatedAt after specificed timestamp",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by one or more of available fields",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "relevance"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeGetManyResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeGetMany-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeGetMany-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find featureTypes",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/featureTypes/{id}": {
      "get": {
        "operationId": "featureTypeGetOne",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "featureType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "includeDeactivated",
            "description": "Will include deactivated items",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "filter[updatedAfter]",
            "description": "Filter by updatedAt after specificed timestamp",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeGetOneResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeGetOne-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeGetOne-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeGetOne-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find featureType by id",
        "tags": [
          "curatedListService"
        ]
      },
      "patch": {
        "operationId": "featureTypeUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "featureType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/featureTypeUpdateRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeUpdateResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeUpdate-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeUpdate-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeUpdate-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates featureType",
        "tags": [
          "curatedListService"
        ]
      },
      "delete": {
        "operationId": "featureTypeDel",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "featureType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeDelResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeDel-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "403": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeDel-403"
                }
              }
            },
            "description": "Error: 403"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeDel-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeDel-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Deletes featureType",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/featureTypes/actions/importDataFromFile": {
      "post": {
        "operationId": "featureTypeImportDataFromFile",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeImportDataFromFileResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "403": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeImportDataFromFile-403"
                }
              }
            },
            "description": "Error: 403"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/featureTypeImportDataFromFile-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Rebuild view for resource featureType",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/identifierTypes": {
      "post": {
        "operationId": "identifierTypeCreate",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/identifierTypeCreateRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeCreateResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeCreate-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeCreate-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create identifierType",
        "tags": [
          "curatedListService"
        ]
      },
      "get": {
        "operationId": "identifierTypeGetMany",
        "parameters": [
          {
            "in": "query",
            "name": "includeDeactivated",
            "description": "Will include deactivated items",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "filter[id]",
            "description": "Filter by id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[ids]",
            "description": "Filter by ids",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "filter[key]",
            "description": "Match for key",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort by one or more of available fields",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "relevance"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeGetManyResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeGetMany-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeGetMany-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find identifierTypes",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/identifierTypes/{id}": {
      "get": {
        "operationId": "identifierTypeGetOne",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "identifierType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "includeDeactivated",
            "description": "Will include deactivated items",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "filter[updatedAfter]",
            "description": "Filter by updatedAt after specificed timestamp",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeGetOneResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeGetOne-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeGetOne-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeGetOne-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find identifierType by id",
        "tags": [
          "curatedListService"
        ]
      },
      "patch": {
        "operationId": "identifierTypeUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "identifierType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/identifierTypeUpdateRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeUpdateResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeUpdate-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeUpdate-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeUpdate-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates identifierType",
        "tags": [
          "curatedListService"
        ]
      },
      "delete": {
        "operationId": "identifierTypeDel",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "identifierType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeDelResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeDel-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "403": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeDel-403"
                }
              }
            },
            "description": "Error: 403"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeDel-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierTypeDel-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Deletes identifierType",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/identifierTypes/actions/importDataFromFile": {
      "post": {
        "operationId": "identifierTypeImportDataFromFile",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
[...]
