{
  "openapi": "3.0.0",
  "info": {
    "title": "Dina api",
    "contact": {
      "email": "oberg.anton@gmail.com"
    },
    "license": {
      "name": "GNU Affero General Public License",
      "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"
    },
    "version": "0.1.0",
    "description": "This is a first draft of dina api documentation.\nDescriptions like below can be written in markdown:\n\n* [Dina web](https://alpha-cm.dina-web.net/login)\n* [Dina web with mocks](https://alpha-cm-mock.dina-web.net/login)\n* [Dina style guilde](https://alpha-style.dina-web.net)\n",
    "x-versionInfo": "# This is some version specific information\n"
  },
  "servers": [
    {
      "description": "Alpha api server",
      "url": "https://alpha-api.dina-web.net"
    },
    {
      "description": "Auth server",
      "url": "https://alpha-keycloak.dina-web.net"
    },
    {
      "description": "Local api server",
      "url": "http://127.0.0.1:4444"
    },
    {
      "description": "Slim taxonomy",
      "url": "https://alpha-slimtaxonomy.dina-web.net"
    }
  ],
  "tags": [
    {
      "description": "## Api managing agents.\n",
      "name": "agentService"
    },
    {
      "description": "Auth api\n",
      "name": "authService"
    },
    {
      "description": "CuratedEventApi - ex expeditions\n\n",
      "name": "curatedEventService"
    },
    {
      "description": "Api managing curated lists.\n",
      "name": "curatedListService"
    },
    {
      "description": "Api managing externalEvents like loan and acquisitions.\n",
      "name": "externalEventService"
    },
    {
      "description": "Api managing identifiers like catalogNumber.\n",
      "name": "identifierService"
    },
    {
      "description": "Locality Service\n",
      "name": "localityService"
    },
    {
      "description": "Specimens api\n",
      "name": "specimenService"
    },
    {
      "name": "statusService"
    },
    {
      "description": "Service managing storage\n",
      "name": "storageService"
    },
    {
      "description": "Mock taxon api\n",
      "name": "taxonService"
    }
  ],
  "paths": {
    "/api/agent/v01/agents": {
      "post": {
        "operationId": "createAgent",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/createAgentRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createAgentResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createAgent-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createAgent-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create agent",
        "tags": [
          "agentService"
        ]
      },
      "get": {
        "operationId": "getAgents",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getAgentsResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getAgents-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getAgents-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find agents",
        "tags": [
          "agentService"
        ]
      }
    },
    "/api/agent/v01/agents/{id}": {
      "get": {
        "operationId": "getAgent",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "agent id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "enum": [
                "primary"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getAgentResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getAgent-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getAgent-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getAgent-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find agent by id",
        "tags": [
          "agentService"
        ]
      },
      "patch": {
        "operationId": "updateAgent",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "agent id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateAgentRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateAgentResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateAgent-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateAgent-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateAgent-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates agent",
        "tags": [
          "agentService"
        ]
      }
    },
    "/auth/realms/dina/protocol/openid-connect/userInfo": {
      "get": {
        "operationId": "getUser",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getUserResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Gets user object",
        "tags": [
          "authService"
        ]
      }
    },
    "/auth/realms/dina/protocol/openid-connect/token": {
      "post": {
        "operationId": "loginUser",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/loginUserRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/loginUserResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Gets user token",
        "tags": [
          "authService"
        ]
      }
    },
    "/api/curatedEvent/v01/expeditions": {
      "post": {
        "operationId": "createExpedition",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/createExpeditionRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createExpeditionResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createExpedition-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createExpedition-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create expedition",
        "tags": [
          "curatedEventService"
        ]
      },
      "get": {
        "operationId": "getExpeditions",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getExpeditionsResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getExpeditions-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getExpeditions-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find expeditions",
        "tags": [
          "curatedEventService"
        ]
      }
    },
    "/api/curatedEvent/v01/expeditions/{id}": {
      "get": {
        "operationId": "getExpedition",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "expedition id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getExpeditionResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getExpedition-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getExpedition-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getExpedition-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find expedition by id",
        "tags": [
          "curatedEventService"
        ]
      },
      "patch": {
        "operationId": "updateExpedition",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "expedition id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateExpeditionRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateExpeditionResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateExpedition-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateExpedition-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateExpedition-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates expedition",
        "tags": [
          "curatedEventService"
        ]
      }
    },
    "/api/curatedList/v01/distinguishedUnitTypes": {
      "post": {
        "operationId": "createDistinguishedUnitType",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/createDistinguishedUnitTypeRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createDistinguishedUnitTypeResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createDistinguishedUnitType-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createDistinguishedUnitType-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create distinguishedUnitType",
        "tags": [
          "curatedListService"
        ]
      },
      "get": {
        "operationId": "getDistinguishedUnitTypes",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getDistinguishedUnitTypesResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getDistinguishedUnitTypes-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getDistinguishedUnitTypes-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find distinguishedUnitTypes",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/distinguishedUnitTypes/{id}": {
      "patch": {
        "operationId": "updateDistinguishedUnitType",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "distinguishedUnitType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateDistinguishedUnitTypeRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateDistinguishedUnitTypeResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateDistinguishedUnitType-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateDistinguishedUnitType-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateDistinguishedUnitType-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates distinguishedUnitType",
        "tags": [
          "curatedListService"
        ]
      },
      "get": {
        "operationId": "getDistinguishedUnitType",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "distinguishedUnitType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getDistinguishedUnitTypeResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getDistinguishedUnitType-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getDistinguishedUnitType-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getDistinguishedUnitType-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find distinguishedUnitType by id",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/featureObservationTypes": {
      "post": {
        "operationId": "createFeatureObservationType",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/createFeatureObservationTypeRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createFeatureObservationTypeResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createFeatureObservationType-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createFeatureObservationType-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create featureObservationType",
        "tags": [
          "curatedListService"
        ]
      },
      "get": {
        "operationId": "getFeatureObservationTypes",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getFeatureObservationTypesResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getFeatureObservationTypes-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getFeatureObservationTypes-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find featureObservationTypes",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/featureObservationTypes/{id}": {
      "patch": {
        "operationId": "updateFeatureObservationType",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "featureObservationType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateFeatureObservationTypeRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateFeatureObservationTypeResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateFeatureObservationType-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateFeatureObservationType-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateFeatureObservationType-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates featureObservationType",
        "tags": [
          "curatedListService"
        ]
      },
      "get": {
        "operationId": "getFeatureObservationType",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "featureObservationType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getFeatureObservationTypeResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getFeatureObservationType-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getFeatureObservationType-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getFeatureObservationType-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find featureObservationType by id",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/identifier/v01/catalogNumbers": {
      "post": {
        "operationId": "createCatalogNumber",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/createCatalogNumberRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createCatalogNumberResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createCatalogNumber-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createCatalogNumber-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create catalogNumber",
        "tags": [
          "identifierService"
        ]
      },
      "get": {
        "operationId": "getCatalogNumbers",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getCatalogNumbersResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getCatalogNumbers-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getCatalogNumbers-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find catalogNumbers",
        "tags": [
          "identifierService"
        ]
      }
    },
    "/api/identifier/v01/catalogNumbers/{id}": {
      "patch": {
        "operationId": "updateCatalogNumber",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "catalogNumber id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateCatalogNumberRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateCatalogNumberResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateCatalogNumber-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateCatalogNumber-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateCatalogNumber-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates catalogNumber",
        "tags": [
          "identifierService"
        ]
      },
      "get": {
        "operationId": "getCatalogNumber",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "catalogNumber id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getCatalogNumberResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getCatalogNumber-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getCatalogNumber-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getCatalogNumber-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find catalogNumber by id",
        "tags": [
          "identifierService"
        ]
      }
    },
    "/api/locality/v01/curatedLocalities": {
      "post": {
        "operationId": "createCuratedLocality",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/createCuratedLocalityRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createCuratedLocalityResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createCuratedLocality-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createCuratedLocality-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create curatedLocality",
        "tags": [
          "localityService"
        ]
      },
      "get": {
        "operationId": "getCuratedLocalities",
        "parameters": [
          {
            "in": "query",
            "name": "filter[group]",
            "description": "Filter by group, example: country",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[parentId]",
            "description": "Filter by parentId, example 123",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[search]",
            "description": "Filter by string search, example swe",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "relationships",
            "description": "Relationships to add to the response. Add 0 or many",
            "example": [
              "children",
              "parent"
            ],
            "schema": {
              "items": {
                "enum": [
                  "all",
                  "children",
                  "parent"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getCuratedLocalitiesResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getCuratedLocalities-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getCuratedLocalities-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find curatedLocalities",
        "tags": [
          "localityService"
        ]
      }
    },
    "/api/locality/v01/curatedLocalities/{id}": {
      "patch": {
        "operationId": "updateCuratedLocality",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "curatedLocality id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateCuratedLocalityRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateCuratedLocalityResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateCuratedLocality-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateCuratedLocality-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateCuratedLocality-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates curatedLocality",
        "tags": [
          "localityService"
        ]
      },
      "get": {
        "operationId": "getCuratedLocality",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "curatedLocality id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[descendantLevels]",
            "description": "NOT IMPLEMENTED - Levels of descendants to include. Only relevant if relationships descendants provided. example: [country, city]",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "includes",
            "description": "NOT IMPLEMENTED - Add includes. example [descendants, children]",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "descendants",
                  "children"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "relationships",
            "description": "Relationships to add to the response. Add 0 or many",
            "example": [
              "children",
              "parent"
            ],
            "schema": {
              "items": {
                "enum": [
                  "all",
                  "children",
                  "parent"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getCuratedLocalityResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getCuratedLocality-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getCuratedLocality-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getCuratedLocality-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find curatedLocality by id",
        "tags": [
          "localityService"
        ]
      }
    },
    "/api/locality/v01/curatedLocalities/{id}/relationships/parent": {
      "patch": {
        "operationId": "updateCuratedLocalityParent",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "curatedLocality id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateCuratedLocalityParentRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateCuratedLocalityParentResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateCuratedLocalityParent-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateCuratedLocalityParent-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateCuratedLocalityParent-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update curatedLocality -> parent",
        "tags": [
          "localityService"
        ]
      }
    },
    "/api/specimen/v01/specimens": {
      "post": {
        "operationId": "createSpecimen",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/createSpecimenRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createSpecimenResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createSpecimen-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createSpecimen-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create specimen",
        "tags": [
          "specimenService"
        ]
      },
      "get": {
        "operationId": "getSpecimens",
        "parameters": [
          {
            "in": "query",
            "name": "filter[catalogNumber]",
            "description": "catalog number used to filter specimens",
            "example": "123456",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "relationships",
            "description": "Relationships to add to the response. Add 0 or many",
            "example": [
              "curatedLocalities",
              "featureObservationTypes",
              "physicalUnits",
              "taxa"
            ],
            "schema": {
              "items": {
                "enum": [
                  "all",
                  "curatedLocalities",
                  "featureObservationTypes",
                  "physicalUnits",
                  "taxa"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the result",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimensResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimens-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimens-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find specimens",
        "tags": [
          "specimenService"
        ]
      }
    },
    "/api/specimen/v01/specimens/{id}": {
      "patch": {
        "operationId": "updateSpecimen",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateSpecimenRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimenResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimen-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimen-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimen-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates specimen",
        "tags": [
          "specimenService"
        ]
      },
      "get": {
        "operationId": "getSpecimen",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "relationships",
            "description": "Relationships to add to the response. Add 0 or many",
            "example": [
              "curatedLocalities",
              "featureObservationTypes",
              "physicalUnits",
              "taxa"
            ],
            "schema": {
              "items": {
                "enum": [
                  "all",
                  "curatedLocalities",
                  "featureObservationTypes",
                  "physicalUnits",
                  "taxa"
                ],
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimen-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimen-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimen-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find specimen by id",
        "tags": [
          "specimenService"
        ]
      }
    },
    "/api/specimen/v01/specimens/{id}/relationships/physicalUnits": {
      "patch": {
        "operationId": "updateSpecimenPhysicalUnits",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateSpecimenPhysicalUnitsRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimenPhysicalUnitsResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimenPhysicalUnits-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimenPhysicalUnits-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimenPhysicalUnits-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update specimen -> physicalUnits",
        "tags": [
          "specimenService"
        ]
      },
      "get": {
        "operationId": "getSpecimenPhysicalUnits",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenPhysicalUnitsResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenPhysicalUnits-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenPhysicalUnits-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenPhysicalUnits-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find specimen -> physicalUnits",
        "tags": [
          "specimenService"
        ]
      }
    },
    "/api/specimen/v01/specimens/{id}/relationships/featureObservationTypes": {
      "patch": {
        "operationId": "updateSpecimenFeatureObservationTypes",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateSpecimenFeatureObservationTypesRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimenFeatureObservationTypesResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimenFeatureObservationTypes-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimenFeatureObservationTypes-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimenFeatureObservationTypes-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update specimen -> featureObservationTypes",
        "tags": [
          "specimenService"
        ]
      },
      "get": {
        "operationId": "getSpecimenFeatureObservationTypes",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenFeatureObservationTypesResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenFeatureObservationTypes-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenFeatureObservationTypes-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenFeatureObservationTypes-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find specimen -> featureObservationTypes",
        "tags": [
          "specimenService"
        ]
      }
    },
    "/api/specimen/v01/specimens/{id}/relationships/curatedLocalities": {
      "patch": {
        "operationId": "updateSpecimenCuratedLocalities",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateSpecimenCuratedLocalitiesRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimenCuratedLocalitiesResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimenCuratedLocalities-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimenCuratedLocalities-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimenCuratedLocalities-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update specimen -> curatedLocalities",
        "tags": [
          "specimenService"
        ]
      },
      "get": {
        "operationId": "getSpecimenCuratedLocalities",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenCuratedLocalitiesResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenCuratedLocalities-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenCuratedLocalities-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenCuratedLocalities-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find specimen -> curatedLocalities",
        "tags": [
          "specimenService"
        ]
      }
    },
    "/api/specimen/v01/specimens/{id}/relationships/taxa": {
      "get": {
        "operationId": "getSpecimenTaxa",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenTaxaResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenTaxa-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenTaxa-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenTaxa-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find specimen -> taxa",
        "tags": [
          "specimenService"
        ]
      }
    },
    "/api/specimen/v01/specimens/{id}/versions/{versionId}": {
      "get": {
        "description": "The id of the returned resource is the versionId and not the ordinary id",
        "operationId": "getSpecimenVersion",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionId",
            "description": "specimen versionId",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenVersionResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenVersion-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "404": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenVersion-404"
                }
              }
            },
            "description": "Error: 404"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenVersion-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find specimen version by id and versionId",
        "tags": [
          "specimenService"
        ]
      }
    },
    "/api/specimen/v01/specimens/{id}/versions": {
      "get": {
        "operationId": "getSpecimenVersions",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenVersionsResponse"
                }
              }
            },
            "description": "this is a desc"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenVersions-400"
                }
              }
            },
            "description": "Error: 400"
          },
          "500": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenVersions-500"
                }
              }
            },
            "description": "Error: 500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find specimens versions",
        "tags": [
          "specimenService"
        ]
      }
    },
    "/status": {
      "get": {
        "operationId": "getStatus",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getStatusResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "statusService"
        ]
      }
    },
    "/api/storage/v01/physicalUnits": {
      "post": {
        "operationId": "createPhysicalUnit",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": false,
            "schema": {
[...]
