{
  "openapi": "3.0.0",
  "info": {
    "title": "Dina api",
    "contact": {
      "email": "oberg.anton@gmail.com"
    },
    "license": {
      "name": "GNU Affero General Public License",
      "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"
    },
    "version": "0.1.0",
    "description": "This is a first draft of dina api documentation.\nDescriptions like below can be written in markdown:\n\n* [Dina web](https://alpha-cm.dina-web.net/login)\n* [Dina web with mocks](https://alpha-cm-mock.dina-web.net/login)\n* [Dina style guilde](https://alpha-style.dina-web.net)\n",
    "x-versionInfo": "# This is some version specific information\n"
  },
  "servers": [
    {
      "description": "Alpha api server",
      "url": "https://alpha-api.dina-web.net"
    },
    {
      "description": "Auth server",
      "url": "https://alpha-keycloak.dina-web.net"
    },
    {
      "description": "Local api server",
      "url": "http://127.0.0.1:4444"
    },
    {
      "description": "Slim taxonomy",
      "url": "https://alpha-slimtaxonomy.dina-web.net"
    }
  ],
  "tags": [
    {
      "description": "## Api managing agents.\n",
      "name": "agentService"
    },
    {
      "description": "Auth api\n",
      "name": "authService"
    },
    {
      "description": "CuratedEventApi - ex expeditions\n\n",
      "name": "curatedEventService"
    },
    {
      "name": "curatedListService"
    },
    {
      "description": "Api managing externalEvents like loan and acquisitions.\n",
      "name": "externalEventService"
    },
    {
      "description": "Api managing identifiers like catalogNumber.\n",
      "name": "identifierService"
    },
    {
      "description": "Locality Service\n",
      "name": "localityService"
    },
    {
      "description": "Specimens api\n",
      "name": "specimenService"
    },
    {
      "name": "statusService"
    },
    {
      "description": "Service managing storage\n",
      "name": "storageService"
    },
    {
      "description": "Mock taxon api\n",
      "name": "taxonService"
    }
  ],
  "paths": {
    "/api/agent//v01/agents": {
      "post": {
        "operationId": "createAgent",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/createAgentRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createAgentResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create agent",
        "tags": [
          "agentService"
        ]
      },
      "get": {
        "operationId": "getAgents",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getAgentsResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find agents",
        "tags": [
          "agentService"
        ]
      }
    },
    "/api/agent//v01/agents/{id}": {
      "get": {
        "operationId": "getAgent",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "agent id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "enum": [
                "primary"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getAgentResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find agent by id",
        "tags": [
          "agentService"
        ]
      },
      "patch": {
        "operationId": "updateAgent",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "agent id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateAgentRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateAgentResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates agent",
        "tags": [
          "agentService"
        ]
      }
    },
    "/auth/realms/dina/protocol/openid-connect/userInfo": {
      "get": {
        "operationId": "getUser",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getUserResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Gets user object",
        "tags": [
          "authService"
        ]
      }
    },
    "/auth/realms/dina/protocol/openid-connect/token": {
      "post": {
        "operationId": "loginUser",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/loginUserRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/loginUserResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Gets user token",
        "tags": [
          "authService"
        ]
      }
    },
    "/api/curatedEvent/v01/expeditions": {
      "post": {
        "operationId": "createExpedition",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/createExpeditionRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createExpeditionResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create expedition",
        "tags": [
          "curatedEventService"
        ]
      },
      "get": {
        "operationId": "getExpeditions",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getExpeditionsResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find expeditions",
        "tags": [
          "curatedEventService"
        ]
      }
    },
    "/api/curatedEvent/v01/expeditions/{id}": {
      "get": {
        "operationId": "getExpedition",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "expedition id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getExpeditionResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find expedition by id",
        "tags": [
          "curatedEventService"
        ]
      },
      "patch": {
        "operationId": "updateExpedition",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "expedition id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateExpeditionRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateExpeditionResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates expedition",
        "tags": [
          "curatedEventService"
        ]
      }
    },
    "/curatedListApi/v01/distinguishedUnitObservationTypes": {
      "post": {
        "operationId": "createDistinguishedUnitObservationType",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/createDistinguishedUnitObservationTypeRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createDistinguishedUnitObservationTypeResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create distinguishedUnitObservationType",
        "tags": [
          "curatedListService"
        ]
      },
      "get": {
        "operationId": "getDistinguishedUnitObservationTypes",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getDistinguishedUnitObservationTypesResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find distinguishedUnitObservationTypes",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/curatedListApi/v01/distinguishedUnitObservationTypes/{id}": {
      "patch": {
        "operationId": "updateDistinguishedUnitObservationType",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "distinguishedUnitObservationType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateDistinguishedUnitObservationTypeRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateDistinguishedUnitObservationTypeResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates distinguishedUnitObservationType",
        "tags": [
          "curatedListService"
        ]
      },
      "get": {
        "operationId": "getDistinguishedUnitObservationType",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "distinguishedUnitObservationType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getDistinguishedUnitObservationTypeResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find distinguishedUnitObservationType by id",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/featureObservationTypes": {
      "post": {
        "operationId": "createFeatureObservationType",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/createFeatureObservationTypeRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createFeatureObservationTypeResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create featureObservationType",
        "tags": [
          "curatedListService"
        ]
      },
      "get": {
        "operationId": "getFeatureObservationTypes",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getFeatureObservationTypesResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find featureObservationTypes",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/curatedList/v01/featureObservationTypes/{id}": {
      "patch": {
        "operationId": "updateFeatureObservationType",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "featureObservationType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateFeatureObservationTypeRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateFeatureObservationTypeResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates featureObservationType",
        "tags": [
          "curatedListService"
        ]
      },
      "get": {
        "operationId": "getFeatureObservationType",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "featureObservationType id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getFeatureObservationTypeResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find featureObservationType by id",
        "tags": [
          "curatedListService"
        ]
      }
    },
    "/api/identifier/v01/catalogNumbers": {
      "post": {
        "operationId": "createCatalogNumber",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/createCatalogNumberRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createCatalogNumberResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create catalogNumber",
        "tags": [
          "identifierService"
        ]
      },
      "get": {
        "operationId": "getCatalogNumbers",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getCatalogNumbersResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find catalogNumbers",
        "tags": [
          "identifierService"
        ]
      }
    },
    "/api/identifier/v01/catalogNumbers/{id}": {
      "patch": {
        "operationId": "updateCatalogNumber",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "catalogNumber id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateCatalogNumberRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateCatalogNumberResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates catalogNumber",
        "tags": [
          "identifierService"
        ]
      },
      "get": {
        "operationId": "getCatalogNumber",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "catalogNumber id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getCatalogNumberResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find catalogNumber by id",
        "tags": [
          "identifierService"
        ]
      }
    },
    "/api/locality/v01/curatedLocalities": {
      "post": {
        "operationId": "createCuratedLocality",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/createCuratedLocalityRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createCuratedLocalityResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create curatedLocality",
        "tags": [
          "localityService"
        ]
      },
      "get": {
        "operationId": "getCuratedLocalities",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getCuratedLocalitiesResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find curatedLocalities",
        "tags": [
          "localityService"
        ]
      }
    },
    "/api/locality/v01/curatedLocalities/{id}": {
      "patch": {
        "operationId": "updateCuratedLocality",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "curatedLocality id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateCuratedLocalityRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateCuratedLocalityResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates curatedLocality",
        "tags": [
          "localityService"
        ]
      },
      "get": {
        "operationId": "getCuratedLocality",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "curatedLocality id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[descendantLevels]",
            "description": "Levels of descendants to include. Only relevant if relationships descendants provided",
            "example": [
              "country",
              "city"
            ],
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "includes",
            "description": "Add includes",
            "example": [
              "descendants",
              "children"
            ],
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "descendants",
                  "children"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "relationships",
            "description": "Add relationships",
            "example": [
              "descendants",
              "children"
            ],
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "descendants",
                  "children"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getCuratedLocalityResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find curatedLocality by id",
        "tags": [
          "localityService"
        ]
      }
    },
    "/api/specimen/v01/specimens": {
      "post": {
        "operationId": "createSpecimen",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/createSpecimenRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createSpecimenResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create specimen",
        "tags": [
          "specimenService"
        ]
      },
      "get": {
        "operationId": "getSpecimens",
        "parameters": [
          {
            "in": "query",
            "name": "filter[catalogNumber]",
            "description": "catalog number used to filter specimens",
            "example": "123456",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[identifiedTaxonNameStandardized]",
            "description": "Standardized taxon name used to filter specimens",
            "example": "Chironectes minimus",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimensResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find specimens",
        "tags": [
          "specimenService"
        ]
      }
    },
    "/api/specimen/v01/specimens/{id}": {
      "patch": {
        "operationId": "updateSpecimen",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateSpecimenRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimenResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates specimen",
        "tags": [
          "specimenService"
        ]
      },
      "get": {
        "operationId": "getSpecimen",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find specimen by id",
        "tags": [
          "specimenService"
        ]
      }
    },
    "/api/specimen/v01/specimens/{id}/relationships/physicalUnits": {
      "patch": {
        "operationId": "updateSpecimenPhysicalUnits",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateSpecimenPhysicalUnitsRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimenPhysicalUnitsResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update specimen -> physicalUnits",
        "tags": [
          "specimenService"
        ]
      },
      "get": {
        "operationId": "getSpecimenPhysicalUnits",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenPhysicalUnitsResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find specimen -> physicalUnits",
        "tags": [
          "specimenService"
        ]
      }
    },
    "/api/specimen/v01/specimens/{id}/relationships/featureObservationTypes": {
      "patch": {
        "operationId": "updateSpecimenFeatureObservationTypes",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateSpecimenFeatureObservationTypesRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateSpecimenFeatureObservationTypesResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update specimen -> featureObservationTypes",
        "tags": [
          "specimenService"
        ]
      },
      "get": {
        "operationId": "getSpecimenFeatureObservationTypes",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenFeatureObservationTypesResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find specimen -> featureObservationTypes",
        "tags": [
          "specimenService"
        ]
      }
    },
    "/api/specimen/v01/specimens/{id}/versions/{versionId}": {
      "get": {
        "description": "The id of the returned resource is the versionId and not the ordinary id",
        "operationId": "getSpecimenVersion",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionId",
            "description": "specimen versionId",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenVersionResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find specimen version by id and versionId",
        "tags": [
          "specimenService"
        ]
      }
    },
    "/api/specimen/v01/specimens/{id}/versions": {
      "get": {
        "operationId": "getSpecimenVersions",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "specimen id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getSpecimenVersionsResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find specimens versions",
        "tags": [
          "specimenService"
        ]
      }
    },
    "/api/status/v01/status": {
      "get": {
        "operationId": "getStatus",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getStatusResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "statusService"
        ]
      }
    },
    "/api/storage/v01/physicalUnits": {
      "post": {
        "operationId": "createPhysicalUnit",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/createPhysicalUnitRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createPhysicalUnitResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create physicalUnit",
        "tags": [
          "storageService"
        ]
      },
      "get": {
        "operationId": "getPhysicalUnits",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getPhysicalUnitsResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find physicalUnits",
        "tags": [
          "storageService"
        ]
      }
    },
    "/api/storage/v01/physicalUnits/{id}": {
      "patch": {
        "operationId": "updatePhysicalUnit",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "physicalUnit id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updatePhysicalUnitRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updatePhysicalUnitResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates physicalUnit",
        "tags": [
          "storageService"
        ]
      },
      "get": {
        "operationId": "getPhysicalUnit",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "physicalUnit id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getPhysicalUnitResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find physicalUnit by id",
        "tags": [
          "storageService"
        ]
      }
    },
    "/api/storage/v01/physicalUnits/{id}/relationships/storageLocation": {
      "patch": {
        "operationId": "updatePhysicalUnitStorageLocation",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "physicalUnit id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updatePhysicalUnitStorageLocationRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updatePhysicalUnitStorageLocationResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update physicalUnit -> storageLocation",
        "tags": [
          "storageService"
        ]
      },
      "get": {
        "operationId": "getPhysicalUnitStorageLocation",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "physicalUnit id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getPhysicalUnitStorageLocationResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find physicalUnit -> storageLocation",
        "tags": [
          "storageService"
        ]
      }
    },
    "/api/storage/v01/physicalUnits/{id}/versions/{versionId}": {
      "get": {
        "description": "The id of the returned resource is the versionId and not the ordinary id",
        "operationId": "getPhysicalUnitVersion",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "physicalUnit id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionId",
            "description": "physicalUnit versionId",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getPhysicalUnitVersionResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find physicalUnit version by id and versionId",
        "tags": [
          "storageService"
        ]
      }
    },
    "/api/storage/v01/physicalUnits/{id}/versions": {
      "get": {
        "operationId": "getPhysicalUnitVersions",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "physicalUnit id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getPhysicalUnitVersionsResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find physicalUnits versions",
        "tags": [
          "storageService"
        ]
      }
    },
    "/api/storage/v01/storageLocations": {
      "post": {
        "operationId": "createStorageLocation",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/createStorageLocationRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "201": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/createStorageLocationResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create storageLocation",
        "tags": [
          "storageService"
        ]
      },
      "get": {
        "operationId": "getStorageLocations",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getStorageLocationsResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find storageLocations",
        "tags": [
          "storageService"
        ]
      }
    },
    "/api/storage/v01/storageLocations/{id}": {
      "patch": {
        "operationId": "updateStorageLocation",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "storageLocation id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/updateStorageLocationRequest"
              }
            }
          },
          "description": "successful operation"
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/updateStorageLocationResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Updates storageLocation",
        "tags": [
          "storageService"
        ]
      },
      "get": {
        "operationId": "getStorageLocation",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "storageLocation id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getStorageLocationResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find storageLocation by id",
        "tags": [
          "storageService"
        ]
      }
    },
    "/api/storage/v01/storageLocations/{id}/relationships/physicalUnits": {
      "get": {
        "operationId": "getStorageLocationPhysicalUnits",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "storageLocation id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getStorageLocationPhysicalUnitsResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find storageLocation -> physicalUnits",
        "tags": [
          "storageService"
        ]
      }
    },
    "/taxon/{id}": {
      "get": {
        "operationId": "getTaxonById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "taxon id",
            "example": "1",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[name]",
            "description": "Taxon name - accepted scientific, synonym or vernacular name",
            "example": "Alces alces",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search_type",
            "description": "Search type - exact (default) or partial",
            "example": "exact",
            "required": false,
            "schema": {
              "enum": [
                "exact",
                "partial"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getTaxonByIdResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find taxon by id",
        "tags": [
          "taxonService"
        ]
      }
    },
    "/taxon": {
      "get": {
        "operationId": "getTaxaByName",
        "parameters": [
          {
            "in": "query",
            "name": "exampleId",
            "description": "Set to return a specific example. If example dont exist 404 will be returned. Only active when combined with mock parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mock",
            "description": "Will return mock data",
            "example": "false",
            "schema": {
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/getTaxaByNameResponse"
                }
              }
            },
            "description": "this is a desc"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find taxon",
        "tags": [
          "taxonService"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "agent": {
        "additionalProperties": false,
        "description": "WIP",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "x-category": "agentApi",
        "x-modelType": "model"
      },
      "date": {
        "additionalProperties": false,
        "properties": {
          "isoDate": {
            "type": "string",
            "description": "A date in standard format. TBA"
          },
          "dateText": {
            "type": "string",
            "example": "Before 1800"
          },
          "day": {
            "type": "integer",
            "example": 25
          },
          "month": {
            "type": "integer",
            "example": 12
          },
          "year": {
            "type": "integer",
            "example": 1981
          }
        },
        "description": "### Definition\n\nInformation pertaining to a specific date or a date range.\n\n### Note(s)\n\nIncludes for example verbatim information about when something happened.\n",
        "x-category": "core",
        "x-modelType": "model"
      },
      "externalModelReference": {
        "additionalProperties": false,
        "description": "A reference to a model owned by another service",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type"
        ],
        "x-category": "core",
        "x-modelType": "model"
      },
      "internalModelReference": {
        "additionalProperties": false,
        "description": "A reference to a model owned by the same service but stored in normalized form",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "uuid",
          "type"
        ],
        "x-category": "core",
        "x-modelType": "model"
      },
      "modelReference": {
        "additionalProperties": false,
        "description": "A reference to a model",
        "properties": {},
        "x-category": "core",
        "x-modelType": "model"
      },
      "notDefinedModel": {
        "additionalProperties": true,
        "description": "A model to be used until proper concept is defined",
        "properties": {},
        "x-category": "core",
        "x-modelType": "model"
      },
      "polygon": {
        "additionalProperties": false,
        "description": "### Definition\n\nTBA\n\n### Example(s)\n\nTBA\n\n\n\n",
        "properties": {
          "vertices": {
            "type": "array",
            "description": "Corners of the polygon in sane format"
          }
        },
        "x-category": "core",
        "x-modelType": "model"
      },
      "position": {
        "additionalProperties": false,
        "description": "### Definition\n\nTBA\n\n### Example(s)\n\nTBA\n\n\n\n",
        "properties": {
          "latitude": {
            "type": "string",
            "description": "Latitude or northing. Use negative number or letter S for coordinates on southern hemisphere."
          },
          "longitude": {
            "type": "string",
            "description": "Latitude or easting. Use negative number or letter W for coordinates on western hemisphere."
          },
          "geodeticDatum": {
            "type": "string",
            "description": "Geodetic datum wip"
          },
          "uncertaintyInMeters": {
            "type": "integer",
            "description": "Coordinate uncertainty in meters"
          }
        },
        "x-required": [
          "name",
          "id",
          "description",
          "type"
        ],
        "x-category": "core",
        "x-modelType": "model"
      },
      "verticalPosition": {
        "additionalProperties": false,
        "description": "### Definition\n\nTBA\n\n### Example(s)\n\nTBA\n\n\n\n",
        "properties": {
          "maximumDepthInMeters": {
            "type": "integer",
            "description": "Max depth (m)"
          },
          "maximumElevationInMeters": {
            "type": "integer",
            "description": "Max elevation (m)"
          },
          "minimumDepthInMeters": {
            "type": "integer",
            "description": "Min depth (m)"
          },
          "minimumElevationInMeters": {
            "type": "integer",
            "description": "Min elevation (m)"
          }
        },
        "x-required": [
          "name",
          "id",
          "description",
          "type"
        ],
        "x-category": "core",
        "x-modelType": "model"
      },
      "curatedEvent": {
        "additionalProperties": false,
        "description": "### Definition\n\nA defined event with known extension in time and space.\n\n\n\n",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "x-category": "curatedEventApi",
        "x-modelType": "model"
      },
      "expedition": {
        "additionalProperties": false,
        "description": "tba",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "x-category": "curatedEventApi",
        "x-modelType": "model"
      },
      "curatedList": {
        "additionalProperties": false,
        "properties": {
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "featureObservationType",
              "distinguishedUnitObservationType"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/curatedListType"
            }
          }
        },
        "x-category": "curatedListApi",
        "x-modelType": "model",
        "description": ""
      },
      "curatedListType": {
        "additionalProperties": false,
        "properties": {
          "item": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/featureObservationType"
              },
              {
                "$ref": "#/components/schemas/distinguishedUnitObservationType"
              }
            ]
          }
        },
        "x-category": "curatedListApi",
        "x-modelType": "model",
        "description": ""
      },
      "distinguishedUnitObservationType": {
        "additionalProperties": false,
        "properties": {
          "typeName": {
            "type": "string",
            "enum": [
              "sex",
              "length",
              "age",
              "weight",
              "conditionAtCollecting",
              "ageStage"
            ]
          },
          "id": {
            "type": "string",
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6"
            ]
          }
        },
        "required": [
          "typeName"
        ],
        "x-category": "curatedListApi",
        "x-modelType": "model",
        "description": ""
      },
      "featureObservationType": {
        "additionalProperties": false,
        "properties": {
          "typeName": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "required": [
          "typeName"
        ],
        "description": "### Definition\n\nThe type of FeatureObservation. Will likely be a currated list\n\n### Example(s)\n\nSex\n",
        "x-category": "curatedListApi",
        "x-modelType": "model"
      },
      "catalogNumber": {
        "type": "object",
        "properties": {
          "identifierType": {
            "type": "string",
            "pattern": "catalogNumber"
          },
          "nameSpace": {
            "type": "string",
            "example": "mammal"
          },
          "value": {
            "type": "string",
            "description": "Catalog number is a string of 6 or 8 digits",
            "pattern": "^$|^[0-9]{6}$|^[0-9]{8}$",
            "example": "584028"
          }
        },
        "description": "### Definition\n\nA unique identifier for a unit within a catalog.\n",
        "x-category": "identifierApi",
        "x-modelType": "model"
      },
      "identifier": {
        "additionalProperties": false,
        "properties": {
          "publishRecord": {
            "type": "boolean"
          },
          "remarks": {
            "type": "string",
            "example": "Some remarks"
          },
          "identifier": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/catalogNumber"
              }
            ]
          }
        },
        "description": "### Definition\n\nTba\n",
        "x-category": "identifierApi",
        "x-modelType": "model"
      },
      "curatedLocality": {
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the locality"
          },
          "versionId": {
            "type": "string",
            "description": "Id of the specific version"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp corresponding to when created"
          },
          "createdBy": {
            "type": "string",
            "description": "Some kind of reference to the individual that created the locality"
          },
          "updatedBy": {
            "type": "string",
            "description": "Some kind of reference to the individual that updated/created the specific version"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp corresponding to when updated. Could be called versionCreatedAt"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier that is consistent over time"
          },
          "description": {
            "type": "string",
            "description": "Description of the locality"
          },
          "type": {
            "type": "string",
            "description": "Type of locality",
            "enum": [
              "continent",
              "country",
              "district",
              "geodeticDatum",
              "locality",
              "province",
              "rubin"
            ]
          },
          "centralPosition": {
            "type": "object",
            "description": "A position describing the center",
            "$ref": "#/components/schemas/position"
          },
          "parent": {
            "type": "object",
            "description": "A polygon describing the edges",
            "$ref": "#/components/schemas/curatedLocality"
          },
          "polygon": {
            "type": "object",
            "description": "A polygon describing the edges",
            "$ref": "#/components/schemas/polygon"
          },
          "verticalPosition": {
            "description": "A vertical position",
            "type": "object",
            "$ref": "#/components/schemas/verticalPosition"
          }
        },
        "x-required": [
          "name",
          "id",
          "description",
          "type"
        ],
        "description": "### Definition\n\nA defined location with known extension in space.\n",
        "x-category": "localityApi",
        "x-modelType": "model"
      },
      "curatedLocalityRelation": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "to": {
            "$ref": "#/components/schemas/curatedLocality"
          },
          "from": {
            "$ref": "#/components/schemas/curatedLocality"
          },
          "type": {
            "type": "string"
          }
        },
        "description": "### Definition\n\nTBA\n\n### Example(s)\n\nTBA\n\n\n\n",
        "x-category": "localityApi",
        "x-modelType": "model"
      },
      "collectingCircumstance": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "collectorsText": {
            "type": "string",
            "example": "Bergström, U",
            "description": "Name of the collector"
          },
          "event": {
            "$ref": "#/components/schemas/event"
          }
        },
        "description": "### Definition\n\nThe context under which some specific material was collected.\n\n### Note(s)\n\nThis includes collecting information of various kinds, for example collector(s) and collecting method.\n",
        "x-category": "specimenApi",
        "x-modelType": "model"
      },
      "collectingEvent": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "collectorsText": {
            "type": "string",
            "example": "Bergström, U",
            "description": "Name of the collector"
          },
          "startDate": {
            "$ref": "#/components/schemas/date"
          },
          "endDate": {
            "$ref": "#/components/schemas/date"
          },
          "expeditionText": {
            "type": "string",
            "example": "Vega Expedition"
          },
          "localityInformation": {
            "$ref": "#/components/schemas/localityInformation"
          }
        },
        "x-category": "specimenApi",
        "x-modelType": "model",
        "description": ""
      },
      "deathCircumstance": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "collectorsText": {
            "type": "string",
            "example": "Bergström, U",
            "description": "Name of the collector"
          }
        },
        "description": "### Definition\n\nInformation about the death of an individual or group of individuals.\n\n### Note(s)\n",
        "x-category": "specimenApi",
        "x-modelType": "model"
      },
      "determination": {
        "additionalProperties": false,
        "properties": {
          "remarks": {
            "type": "string",
            "example": "Some remarks"
          },
          "determinationText": {
            "type": "string",
            "example": "Sorex minutus, by Doe, J. on 1982-01-01"
          },
          "determinationVerbatim": {
            "type": "string",
            "description": "In exactly the same words as were used originally"
          },
          "determinedByAgentText": {
            "type": "string",
            "example": "Doe, J."
          },
          "date": {
            "$ref": "#/components/schemas/date"
          },
          "taxonNameStandardized": {
            "type": "string",
            "description": "Should be a taxon reference",
            "example": "Chironectes minimus"
          },
          "taxon": {
            "$ref": "#/components/schemas/individualGroup"
          },
          "isCurrentDetermination": {
            "type": "boolean",
            "example": true
          }
        },
        "description": "### Definition\n\nA statement about a specimen's taxon name and/or type status, which is not itself a type status designation.\n\n### Note(s)\n\nA type status designation is understood here as an explicit or implicit designation of a new type status for a specimen with respect to a taxon name. A type status designation is made in a publication and is strictly regulated by a nomenclatural code. A taxonomic identification on the other hand is usually written on a label attached to a specimen, but could also be found in e.g. a publication or in a notebook stored at a different location.\n",
        "x-category": "specimenApi",
        "x-modelType": "model"
      },
      "distinguishedUnit": {
        "additionalProperties": false,
        "properties": {
          "alternateIdentifiersText": {
            "type": "string",
            "example": "Skin complete, prepared"
          },
          "identifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/identifier"
            }
          },
          "collectingCircumstance": {
            "$ref": "#/components/schemas/collectingCircumstance"
          },
          "id": {
            "type": "string"
          },
          "physicalUnitText": {
            "type": "string",
            "example": "Skin complete, prepared"
          },
          "physicalUnit": {
            "$ref": "#/components/schemas/physicalUnit"
          }
        },
        "description": "### Definition\n\nThe smallest recognized ”thing” in the collection. This may be a physical object or part of a physical object.\n\n### Example(s)\n\n* A skin prepared from a squirrel.\n* One fish in a jar with five fishes.\n* All fishes in a jar with five fishes.\n* A moss and a lichen attached to the same piece of bark may be recognized as two identifiable units.\n\n### Note(s)\n\nThis should probably be renamed \"distinguishedUnit\".\n",
        "x-category": "specimenApi",
        "x-modelType": "model"
      },
      "distinguishedUnitObservations": {
        "additionalProperties": false,
        "properties": {
          "agent": {
            "type": "string",
            "example": "Doe, J."
          },
          "date": {
            "$ref": "#/components/schemas/date"
          },
          "observationText": {
            "type": "string",
            "example": "10 years"
          },
          "observationType": {
[...]
